.mainImage {
    position: relative;
    margin-bottom: 20px;

    img {
        border-radius: 5px;
    }

    button {
        position: absolute;
        bottom: 60px;
        left: 60px;
        width: 150px;
        height: 40px;
        border: 1px solid #fff;
        background: transparent;
        color: #fff;
        text-transform: uppercase;
        transition: 0.5s;

        &:hover {
            background: #fff;
            color: #000;
        }
    }
}

@media (max-width: 800px) {
    .mainImage {
        
        button {
            bottom: 40px;
            left: 40px;
        }
    }
}

@media (max-width: 600px) {
    .mainImage {
        
        button {
            bottom: 30px;
            left: 30px;
            width: 120px;
            height: 36px;
            font-size: 12px;
        }
    }
}