.social {
    margin: 10px 0;
    display: flex;
    
    svg {
        width: 30px;
        height: 30px;
        margin: 0 5px;
        cursor: pointer;

        path {
            transition: 0.5s;
            fill: #e2e2e2;
        }

        &:hover {
            path {
                fill: #000;
            }
        }
    }
}