.navigation {

    ul {
        display: flex;
        list-style-type: none;

        li {
            
            a {
                margin: 0 10px;
                font-size: 20px;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}