.navigation {

    ul {
        display: flex;
    }
}

@media (max-width: 800px) {
    .navigation {

        ul {
            padding: 40px;
            flex-direction: column;

            li {
                margin: 10px;

                a {
                    font-size: 20px;
                }
            }
        }
    }
}
