.wrapper {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fullWidthNavigation {
    display: block;
}

@media (max-width: 800px) {
    .fullWidthNavigation {
        display: none;
    }
}
