.doorCard {
    width: 250px;
    margin: 0 25px 20px 25px;
    overflow: hidden;

    &:hover {

        img {
            background: #c4c4c4;
        }
    }

    img {
        margin-bottom: 10px;
        width: 100%;
        background: #f3f3f3;
        transition: 0.5s;
    }
}

.doorName {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;

}

.doorPrice {
    font-size: 16px;
    color: #c4c4c4;
}
