.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.successOrder {
    height: calc(100vh - 177px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    p {
        margin-bottom: 30px;
        font-size: 30px;
    }
}
